<h1>Listing cool communities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
<!--      <tr>
        <td><%= community.name %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_community_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
//-->
<tr>
	<td> <%= community.name %> </td>
	<td>
	<div class="btn-group">
	<button type="button" class="btn btn-default"><%= link_to 'Show', community %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_community_path(community) %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Destory', community, method: :delete, data: { confirm: 'Are you sure?'}%></button>
</div>
</td>
</tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
