<h1>Listing cool communities</h1>

<table class="table table-striped">
  <thead>
    <tr>
		<th><h3>Name</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
<tr>
	<td><h4> <%= community.name %> </h4></td>
	<td>
	<button type="button" class="btn btn-default"><%= link_to 'Show', community %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_community_path(community) %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Destory', community, method: :delete, data: { confirm: 'Are you sure?'}%></button>
</td>
</tr>

    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Community', new_community_path %></button>
